body{
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    margin: 0px;
}

#background{
    background-image: url(./img/pattern.png);
    height: 170px;
    width: 100%;
    background-color: rgb(63, 129, 255);
}

.logo{
    height: 50px;
    padding-top: 120px;
}

/* titolo piu' foto */

.color_1{
    color:#838383 ;
    font-weight: bold;
}
.color_2{
    color: #2DAEE6;
    font-weight: bold;
}

div{
    font-weight: bold;
}

/* ista */

ul{
    padding-left: 10px;       
    margin-left: 10px;
}

/* tabella */

table {
    font-weight: bold;
    border-collapse: collapse;
}

td
 {
    padding: 0px;
    padding-right: 100px;
    line-height: 70px;
    text-align: left;
}


th {
    background-color: #35b2e7;
    line-height: 30px;
    text-align: left;
}

.color_3{
    background-color: #a5dcf3;
}

/* footer */

.color_4{
    font-weight: bolder;
    color: #838383;
    margin-left: 5px;
}
.container_1 {
    margin: 0px;
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    width: 300px;
    height: 200px;
    margin-left: 5px;
}

.container_2{
    margin: 0px;
    background-image: url(./img/graph.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 140%;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    width: 300px;
    height: 200px;
    margin-left: 5px;
    margin-bottom: 10px;
}