body{
    margin:0px;
    box-sizing: border-box;
    

}

header{
    background-image: url(./img/pattern.png);
    background-color: rgb(63, 129, 255);
}

.logo{
    padding: 45px;
    width: 300px;
}

.first{
    color: #838383;
}

.second{
    color: #2DAEE6;
}

